---
pagination:
  data: collections.country
  size: 1
  alias: country
permalink: "/countries-test/{{ country.data.slug }}/"
layout: layouts/base.njk
title: "{{ country.data.title }}"
---

<main style="padding: 40px;">
  <h1>{{ country.data.title }}</h1>
  <p>{{ country.data.subtitle }}</p>

  <img
    src="{{ country.data.cover }}"
    alt="{{ country.data.title }}"
    style="max-width: 600px; width: 100%; height: auto;"
  >

  <div>
    {{ country.templateContent | safe }}
  </div>
</main>
